[package]
authors       = ["chance dinkins"]
description   = "Data structures and logic for resolving, assigning, and deleting by JSON Pointers (RFC 6901)"
documentation = "https://docs.rs/jsonptr"
edition       = "2021"
homepage      = "https://github.com/chanced/jsonptr"
keywords      = ["json-pointer", "rfc-6901", "6901"]
license       = "MIT OR Apache-2.0"
name          = "jsonptr"
repository    = "https://github.com/chanced/jsonptr"
version       = "0.4.7"

[dependencies]
fluent-uri = { version = "0.1.4", optional = true, default-features = false }
serde      = { version = "1.0", default-features = false, features = ["alloc"] }
serde_json = { version = "1.0", default-features = false, features = ["alloc"] }
uniresid   = { version = "0.1.4", optional = true }
url        = { version = "2", optional = true }

[features]
default = ["std"]
std     = ["serde/std", "serde_json/std", "fluent-uri?/std"]

[dev-dependencies]
quickcheck = "1.0.3"
quickcheck_macros = "1.0.0"
